<div>
  <h2>
    <span>Post #<%= index %></span>
    <span>
      <%= post.title %>
    </span>
  </h2>
  <p>
    <%= post.text %>
  </p>
  <small>
    <span>Comment: <%= post.comments_count %>, Likes: <%= post.comments_count %></span>
  </small>
</div>
